server:
  name: "employee-service"
  host: "127.0.0.1"
  port: "8080"
  base_url: ""


jwt_config:
  duration_in_hours: 720 #set as 1 month expiration time
  jwt_credentials:
    secret: "anewKeyForMe"

db_config:
  db_master:
    dsn: "postgresql://user:password@localhost:5432/postgres?sslmode=disable&search_path=public"